<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-fluid">
        <div class="burger-menu">
          <input class="burger-check hidden-desktop" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
          <nav class="navigation navigation-burger">
            <div class="row">
              <ul class="menu--ul">
                <li class="menu--li hidden-mobile">
                    Here is the place for the Logo
                </li>
                <li class="menu--li"><a href="#awesomeitem" class="menu--a">Awesome Item <span class="sr-only">(current)</span></a></li>
                <li class="menu--li"><a href="#awesomeitem" class="menu--a">Awesome Item</a></li>
                <li class="menu--li"><a href="#awesomeitem" class="menu--a">Awesome Item</a></li>
                <li class="menu--li"><a href="#awesomeitem" class="menu--a">Awesome Item</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

